* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: rgb(2,0,36);
  background: linear-gradient(11deg, rgba(2,0,36,1) 0%, rgb(12, 10, 31) 35%, rgb(11, 24, 27) 100%);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #7575FF;
  border-radius: 20px;
}


a {
  text-decoration: none;
  color: #7575FF;
}

li {
  list-style: none;
}

.container {
  min-height: 100vh;
  position: relative;
}