.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 70px;

  a {
    display: flex;
    align-items: center;
    
    span {
      margin-left: 10px;
      color: #7575FF;
      text-transform: uppercase;
      font-family: 'Righteous', cursive;
      font-size: 1.3rem;
    }
  } 
}

#menu {
  display: flex;

  li {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    color: #7575FF;

    &:first-child:hover {
      border-bottom: 2px solid #E6CB53;
      margin-bottom: 10px;
      cursor: pointer;

      transition: margin 0.3s;
    }

    &:nth-child(-n+4){
      cursor: not-allowed;
    }
  }

  li {
    & + li {
      margin-left: 1.5rem;
    }
  }
}

.btn-mobile{
  display: none;
}

// Mobile //

@media only screen and (max-width: 768px){
  .btn-mobile{
    display: block;
    background-color: transparent;
    width: 40px;
    border: none;
  }

  #menu {
      display: none;
      position: absolute;
      width: 100vw;
      top: 70px;
      right: 0;
      height: calc(100vh - 70px);
      z-index: 1000;
      background: rgb(2,0,36);
      background: linear-gradient(11deg, rgba(2,0,36,1) 0%, rgb(12, 10, 31) 35%, rgb(11, 24, 27) 100%);
      
      li{
        & + li {
          margin-left: 0;
        }

        &:first-child:hover {
          border-bottom: none;
          margin-bottom: 0;
        }

        a{
          padding: 1rem 0;
          border-bottom: 2px solid #E6CB53;
          margin: 0 2rem;

          &:hover{
            border-bottom: 2px solid #9b872d;
          }
        }
      }
    }

    #nav.active #menu{
     display: block;
    }
}