footer {
  width: 100%;
  bottom: 0;
  text-align: center;
  position: absolute;
  margin: 1rem 0;
  font-size: 0.8rem;
  color: #7575FF;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;

  li {
    &+li {
      margin-left: 0.5rem;
    }
  }
}

// Mobile

@media only screen and (max-width: 768px) {
  footer {
    font-size: 0.6rem;
  }

  .social-media {
    img {
      width: 20px;
      height: 20px;
    }
  }
}