.tilte-list {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  

  h3 {
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0.7rem 0;
    text-transform: uppercase;
    background-color: #7D3C98;
    width: 100%;
    text-align: center;
    color: #FFF;
  }
}

.task-list {
  li {

    &:last-child {
      border-bottom: none;
      border-radius: 0 0 0.5rem 0.5rem;
    }
  }
}

.item-list {
  background-color: #E5E8E8;
  padding: 1rem;
  border-bottom: 2px solid #7D3C98;
  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    margin-right: 1rem;
  }

  button {
    border: none;
    cursor: pointer;
    background: none;
  }

}

.icon-trash {
  color:#CB4335;
  width: 25px;
  height: 25px;

  &:hover {
    color: #B03A2E;
  }
}

.icon-edit {
  color: #28B463;
  width: 25px;
  height: 25px;
  margin-right: 0.8rem;

  &:hover {
    color: #239B56;
  }
}

.checked{
  text-decoration: line-through;
  color: #28B463;
}